<!DOCTYPE html>
<html>
    <head>
        <title>SECA Event Details</title>
    </head>
    <body>
        <h1>Event Details</h1>
        <section style="border: 1px solid black;">
            <section>
                {{> eventPartial this}}   
            </section>
        </section>
    </body>
</html> 