<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  <!-- Showcase -->
<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>Welcome to SECA</h1>
      </div>
    </div>
  </div>
</section>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-interesting" href="/site/events/popular">Popular Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-interesting" href="/site/groups">My Groups</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        {{#if login}}
          <li class="nav-item">
            <div class="btn-register-login">
          <a class="btn btn-primary btn-lg" href="/site/signup">Sign Up</a>
          <a class="btn btn-primary btn-lg" href="/site/login">Log In</a>
        </div>
          </li>
        {{/if}}
        {{#if logout}}
          <li class="nav-item">
            <form method="POST" action="/site/logout">
              <button type="submit" class="btn btn-link nav-link">Log Out</button>
            </form>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<!-- Main Content -->
<div class="container mt-4">
  <form method="GET" action="/site/events" class="search-events-form">
    <h2>Search Events</h2>
    <input type="text" name="keyword" class="form-control" placeholder="Enter Event Name">
    <button type="submit" class="btn btn-primary">Search Events</button>
  </form>
</div>

    </div>
  </body>
</html>