<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<button
  onclick="window.location.href='/site/home'"
  style="margin-left: 1145px;"
>Home Screen</button>
<body class="bg-light">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            {{#if login}}
              <h1 class="text-center mb-4">Log In</h1>
              {{> logInPartial this}}
              {{#if credentials}}
                <script>
                  alert('{{credentials}}');
                </script>
              {{/if}} 
            {{/if}}
            
            {{#if signup}}
              <h1 class="text-center mb-4">Sign Up</h1>
              {{> signUpPartial this}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
