<!DOCTYPE html>
<html>
    <head>
        <title>SECA Group Details</title>
    </head>
    <body>
        <h1>Update Your Group</h1>
        <section style="display: inline;">
        <button
            onclick="window.location.href='/site/groups'"
            style="margin-left: 1033px;"
        >Go Back To Groups</button>
        <button
            onclick="window.location.href='/site/home'"
        >Home Screen</button>
        </section>
        <section style="border: 1px solid black;">
            <form id="updateDetails">
            <p>Name: <input type = "text" name="name" value = "{{name}}" id="name"> </p>
            <p>Description: <input type="text" name ="description" value="{{description}}" id="description"></p>
            </form>
            <input type = "submit" value = "Update Group" id="updateGroup">
            <script type="application/ecmascript" src="/site/js/groupsUpdate.js"></script>
            <script type="application/ecmascript">
                registerPutGroup('{{token}}')
            </script>
        </section>
    </body>
</html> 