<section>
    <p>Name: {{name}}</p>
    <p>Description: {{description}}</p>
    <p>Events: {{#each events}}
                    <div style="border: 1px solid black;">
                        {{> eventPartial this}}
                    </div>
                <br>
                {{/each}}
    </p>
</section>