<form method="POST" action="/site/login">
  <p>
    Username:
    <input type="text" name="username" value="" />
  </p>
  <p>
    Password:
    <input type="password" name="password" value="" />
  </p>
  <button style="display: inline;">LogIn</button>
</form>
<button onClick="window.location.href='/site/signup';" style="display: inline;">SignUp</button>