<!DOCTYPE html>
<html>
  <head>
    <title>SECA Popular Events</title>
  </head>
  <body>
    <h1>Popular Events</h1>
    {{#each events}}
      <section style="border: 1px solid black;">
        {{> eventPartial this}}  
      </section>
      <form action="/site/groups">
        <button name="eventId" value="{{id}}">Add Event</button>
      </form>
      <br>
    {{/each}}
  </body>
</html>