<!DOCTYPE html>
<html>
    <head>
        <title>SECA Search Events by name</title>
    </head>
    <body>
        <h1>Search Events</h1>
        <button
            onclick="window.location.href='/site/home'"
            style="margin-left: 1165px;"
        >Home Screen</button>
        {{#each events}}
            <section style="border: 1px solid black;">
                {{> eventPartial this}} 
            </section>
            <form action="/site/groups">
            <button name="eventId" value="{{id}}">Add Event</button>
            </form>
            <br>
        {{/each}}
    </body>
</html>