
p1,
h11 {
  color: red;
  font-size: 30px;
  font-style: italic;
}

.btn-register-login {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.btn-register-login a {
  text-decoration: none;
  color: white;
}

.search-events-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-events-form input {
  width: 300px;
  margin-right: 10px;
}

.btn-interesting {
  background-color: #28a745;
  color: white;
}

.btn-interesting:hover {
  background-color: #218838;
}

.mr-3 {
  margin-right: 1rem;
}